body {
    background-color: #048ABF;
    font-size: 18px;
<<<<<<< HEAD
    
    
=======
>>>>>>> 80cb91bcaed6dd2ad283c2c369ee9a26be39e19d
}
img {
    display: block;
    max-width: 200%;
<<<<<<< HEAD
    margin: auto;
=======
    margin: 0 auto;
    size: 100px;
>>>>>>> 80cb91bcaed6dd2ad283c2c369ee9a26be39e19d
}

/* Moblie Style */

#container {
    background-color: #F28705;
    margin: 20px;
}
header {
    padding: 60px 40px;
    border-bottom: 4px solid #F28705;
<<<<<<< HEAD
    
=======
>>>>>>> 80cb91bcaed6dd2ad283c2c369ee9a26be39e19d
}
header h1 {
text-align: center;
font-size: 2.5em;
<<<<<<< HEAD

=======
>>>>>>> 80cb91bcaed6dd2ad283c2c369ee9a26be39e19d
}

.col { 
    border: 4px solid #F28705;
    padding: 100px;
    margin: 20px;
    border-radius: 20px;
<<<<<<< HEAD
    text-align: center;
    align-content: center;
}



.col h2 {
    text-align: center;
    font-size: 2em;
    width: 100px auto;
    margin: 30px auto;
=======
}

.col h2 {
    text-align: center;
    font-size: 2em;
>>>>>>> 80cb91bcaed6dd2ad283c2c369ee9a26be39e19d
}

.col image {
    width: 50%;
}

footer {
    padding: 60px 0;
    text-align: center;
    border-top: 4px solid #F28705;
    font-weight: bold;
}

@media(min-width: 768px) {
   #container {
       width: 80%;
       margin: 0 auto;
   }
    .col {
       width: 50%;
<<<<<<< HEAD
      
   }
   
    .col img {
        width: 50%;
       
=======
       margin: 20px auto;
   }
   
    .col img {
        width: 30%;
>>>>>>> 80cb91bcaed6dd2ad283c2c369ee9a26be39e19d
    }
}
  
.main_img {
display: none;
}

@media (min-width: 1024px) {
    #container {
        width: 75%;
        border-radius: 20px;
    }
    #flex {
        display: flex;
<<<<<<< HEAD
        align-content: center;
}

.col {
    align-content: center;
    width: auto;
    height: auto;
}

.col img {
    width: 100%;
    height: 65%;
   
   

   
=======
}

.col {
    margin: 20px;
}

.col img {
    width: 50%;
>>>>>>> 80cb91bcaed6dd2ad283c2c369ee9a26be39e19d
}

.main_img {
    display: block;
<<<<<<< HEAD
    width: 40%;
    margin: 20px auto;
   align-content: center;

}
}
=======
    width: 30%;
    margin: 20px auto;
}
}
>>>>>>> 80cb91bcaed6dd2ad283c2c369ee9a26be39e19d
